---
http_interactions:
- request:
    method: get
    uri: http://ws.detectlanguage.com/0.2/detect?key=demo&q=ruby%20is%20so%20awesome!
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"data":{"detections":[{"isReliable":false,"confidence":0.137763371150729,"language":"en"},{"isReliable":false,"confidence":0.0441014332965821,"language":"sl"}]}}'
  recorded_at: Sat, 03 Mar 2012 21:26:33 GMT
- request:
    method: get
    uri: http://ws.detectlanguage.com/0.2/detect?key=demo&q=%D1%80%D1%83%D0%B1%D0%B8%20%D1%82%D0%B0%D0%BA%D0%BE%D0%B9%20%D0%BA%D1%80%D1%83%D1%82%D0%BE%D0%B9!
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"data":{"detections":[{"isReliable":true,"confidence":0.247718383311604,"language":"ru"}]}}'
  recorded_at: Sat, 03 Mar 2012 21:26:33 GMT
- request:
    method: get
    uri: http://ws.detectlanguage.com/0.2/detect?key=demo&q=1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"data":{"detections":[]}}'
  recorded_at: Sat, 03 Mar 2012 21:26:34 GMT
- request:
    method: get
    uri: http://ws.detectlanguage.com/0.2/detect?key=demo&q=%E3%83%AB%E3%83%93%E3%83%BC%E3%81%AF%E3%81%A8%E3%81%A6%E3%82%82%E7%B4%A0%E6%99%B4%E3%82%89%E3%81%97%E3%81%84%E3%81%A7%E3%81%99!
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"data":{"detections":[{"isReliable":true,"confidence":1.44,"language":"ja"}]}}'
  recorded_at: Sat, 03 Mar 2012 21:26:34 GMT
recorded_with: VCR 2.0.0.rc2
